.cartSection {
    border-top: 1px solid #666666;
}

.cartProductImage {
    display: inline-block;
    width: 20%;

}

.cartProductImage img {
    width: 70%;
    height: 100%;
}

.cartProductHeading {
    display: block;
    font-family: 'Nanum Myeongjo', serif;
    font-weight: bolder;
    text-align: left;
    color: #00A7B0;
    /*font-size: 200%;*/
}

.cartDetails {
    display: inline-block;
    width: 30%;
    text-align: center;
    font-family: 'Nanum Myeongjo', serif;
    font-weight: bolder;
    color: #00A7B0;
    vertical-align: top;
    margin-top: 50px;

}

.cartDetails h3 {
    vertical-align: middle;
}

.cartPrice {
    float: right;
    display: inline-block;
    width: 10%;
    text-align: right;
    font-family: 'Nanum Myeongjo', serif;
    font-weight: bolder;
    color: #00A7B0;
    margin-top: 50px;

}

.subtotal {
    display: inline-block;
    width: 100%;
    border-top: 1px solid #666666;
    text-align: right;
    font-family: 'Nanum Myeongjo', serif;
    font-weight: bolder;
    color: #00A7B0;
    padding-top: 20px;
    padding-bottom: 20px;
}

.checkoutButton {
    margin-bottom: 100px;
    display: inline-block;
}

.cancelButton {
    display: block;
    right: 40px;
    padding: 12px 60px;
    text-align: center;
    background-color: #E5E5E5;
    font-family: 'Nanum Myeongjo', serif;
    font-weight: bolder;
    font-size: 100%;
    color: #666666;
    text-decoration: none;
    border-radius: 2px;
}

input.cancelButton{
    -webkit-appearance: none;
    outline:none;
    box-shadow: none;
    border:none;
}

.cancelButton a {
    display: block;
    text-decoration: none;
    color: #666666;

}

.cancelButton:hover {
    background-color: #cecece;
    cursor: pointer;
}


.cartButtons {
    float: right;
}

.submitCartButton{
    margin: 10px 0px 10px 10px;
    display: block;
    right: 40px;
    padding: 12px 40px;
    text-align: center;
    background-color: #00A7B0;
    font-family: 'Nanum Myeongjo', serif;
    font-weight: bolder;
    font-size: 100%;
    color: white;
    text-decoration: none;
    border-radius: 2px;
}

.submitCartButton:hover {
    background-color: #66cacf;
}

.submitCartButton a {
    display: block;
    text-decoration: none;
    color: white;
}

#cartPage .errorMessage.displayed{
    display: block;
    background-color: #00A7B0;
    color: white;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 100px 200px 0px 200px;

}